﻿@model BookLibrary.Web.Models.BookViewModel



    @using (Html.BeginForm("Search", "Home"))
    {
        <div class="row">
            <div class="col-md-3">
                @Html.TextBoxFor(s => s.SearchString, new { @class = "form-control", placeholder = "search" })
            </div>


            <div class="col-md-2">
                <input type="submit" value="Search" class="btn btn-primary" id="btnSearch" />
            </div>

            <div class="col-md-3">
                @Html.ValidationMessageFor(m => m.SearchString, "", new { @class = "text-danger" })
            </div>
        </div>


    }
    <br />

    @using (Html.BeginForm("Filter", "Home"))
    {
<div class="row">
    <div class="col-md-3">
        @Html.DropDownListFor(c => c.SelectedCategory, new SelectList(Model.Categories), "--select by category--", new { @class = "form-control" })


    </div>

    <div class="col-md-2">
        <input type="submit" value="Filter" class="btn btn-success" />
    </div>
    <div class="col-md-1">
        <input type="button" class="btn btn-warning" value="Reset" onclick="location.href='@Url.Action("Index", "Home")'" />
    </div>
    <div class="col-md-3">
        @Html.ValidationMessageFor(m => m.SelectedCategory, "", new { @class = "text-danger" })
    </div>


</div>


    }

    

