﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BookLibrary.Web.Models.BookViewModel



@*@section styles{
        @Styles.Render("~/Content/Gridmvc")
    }*@

@*@section scripts{
    @Scripts.Render("~/bundles/Gridmvc")
}*@


    <div class="container">
        <br />
        
            @{Html.RenderPartial("_FilterSearch");}
        
        <br />
       
        <table class="table table-hover table-striped.table-condensed">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BookList)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Author</td>
                        <td>@item.Category</td>
                        <td>@item.Description</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>


                    <td></td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>

@*<div class="container">
        <div class="row">
            <div class="col-md-12">
                @Html.Grid(Model).Named("BooksList").Columns(c =>
           {
               c.Add(x => x.Title).Titled("Title").Filterable(true).Sortable(true);
               c.Add(x => x.Author).Titled("Author").Filterable(true).Sortable(true);
               c.Add(x => x.Description).Titled("Description").Filterable(true).Sortable(true);
               c.Add(x => x.Category).Titled("Category").Filterable(true).Sortable(true);

           }).WithPaging(2).EmptyText("No books found!");
            </div>
        </div>


    </div>*@

